# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Test Reports
# ==========================
reports/html/
reports/screenshots/

# ==========================
# Bug Reports
# ==========================
bug_reports/

# ==========================
# Logs
# ==========================
*.log